<style>
  div.currentValue {
    color: #384551;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.33rem;
    padding: 0.33rem 0 1rem;
  }

  div.currentValue small {
    font-size: 0.8rem;
  }

  div.currentValue .showCurrent,
  div.currentValue .removeCurrent {
    display: flex;
    align-items: end;
    gap: 0.5rem;
  }

  div.currentValue .showCurrent > .value {
    font-size: 0.9rem;
    font-weight: 500;
  }

  div.currentValue .removeCurrent > input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
</style>

{% if workshop_form.verification_document.value %}
<style>
  main .formSection form div.formField input[name="verification_document"] {
    margin-bottom: 0;
  }
</style>
{% endif %}

<!-- workshop data form -->
<form method="POST" action="{% url 'edit_workshop_data' %}" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- Loop through each field in account_form -->
  {% for field in workshop_form %}

  <div class="mb-6">
    <!-- label -->
    <label class="form-label" for="id_{{field.name}}">{{field.label}}</label>

    <!-- input field -->
    {{field}}

    <!-- if document exists -->
    {% if field.name == "verification_document" and field.value %}
    <div class="currentValue">
      <!-- Show current -->
      <div class="showCurrent">
        <small>Aktuelles Dokument:</small>
        <p class="value">{{ field.value.name }}</p>
      </div>

      <!-- Remove current -->
      <div class="removeCurrent">
        <small>Entfernen</small>
        <input type="checkbox" name="remove_document" />
      </div>
    </div>
    {% endif %}
    <!-- / if document exists -->
  </div>

  {% endfor %}

  <button type="submit" class="btn btn-primary">Speichern</button>
</form>
<!-- / workshop data form -->
