{% load static %}

<!-- Footer styles -->
<style>
  img.footerLogo {
    max-width: 150px;
    margin: 0 0.5rem;
    max-height: 25px;
    height: 35px;
  }
</style>

<footer class="content-footer footer bg-footer-theme">
  <div class="container-xxl">
    <div class="d-flex align-items-center justify-content-between py-4 flex-md-row flex-column gap-2">
      <!-- Copyright Section -->
      <div class="text-body d-flex flex-column flex-sm-row gap-2 align-items-center">
        <img src="{% static 'img/branding/logo.svg' %}" alt="" class="footerLogo" />
        <div class="m-0 pt-1">
          © Copyright
          <script>
            document.write(new Date().getFullYear());
          </script>
        </div>
      </div>

      <!-- Link Section -->
      <div class="d-inline-block">
        <a href="#" class="footer-link me-4" target="_blank">Impressum</a>
        <a href="#" target="_blank" class="footer-link me-4">Datenschutz</a>
      </div>
    </div>
  </div>
</footer>
