{% load static %}

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="{% static 'vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'vendor/libs/hammer/hammer.js' %}"></script>
<script src="{% static 'vendor/libs/i18n/i18n.js' %}"></script>
<script src="{% static 'vendor/libs/typeahead-js/typeahead.js' %}"></script>
<script src="{% static 'vendor/js/menu.js' %}"></script>

<!-- endbuild -->

<!-- Vendors JS -->
<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>

<!-- Page JS -->
<script src="{% static 'js/dashboards-analytics.js' %}"></script>

<!-- Autosize textfield -->
<script src="{% static 'vendor/libs/autosize/autosize.js' %}"></script>

<!-- Message/Alert handler -->
<script src="{% static 'js/messages.js' %}"></script>

<script src="{% static 'vendor/libs/nouislider/nouislider.js' %}"></script>

<!-- form wizard -->
<script src="{% static 'vendor/libs/bs-stepper/bs-stepper.js' %}"></script>

<!-- select picker -->
<script src="{% static 'vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>

<!-- flatpicker -->
<script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/de.js"></script>
